<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.BookstoreSystem.client.mapper.AdvertiseTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.BookstoreSystem.client.entity.AdvertiseType">
        <id column="id" property="id" />
          <result column="name" property="name" />
           <result column="text" property="text" />
           <result column="status" property="status" />
           <result column="time" property="time" />
           <result column="createtime" property="createTime" />
           <result column="createBy" property="createUserId" />
           <result column="updatetime" property="updateTime" />
           <result column="updateBy" property="updateUserId" />
           <result column="description" property="description" />

    </resultMap>

</mapper>
