<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.BookstoreSystem.client.mapper.BooktypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.BookstoreSystem.client.entity.Booktype">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="updateby" property="updateby" />
        <result column="text" property="text" />
        <result column="parentId" property="parentid" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
