* {
	margin: 0;
	padding: 0%;
}

body {
	margin: 0;
	padding: 0%;
	font-family: '宋体';

}

.box {
	width: 60%;
	height: 80%;
	border: 1px solid #000000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 80px;
}

input {
	width: 200px;
	height: 20px;
	margin-left:1px;
}

.input-body {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

.mobile-phone {
	margin-top: 100px;
}

.VerificationCode {
	margin-top: 40px;
}

.password1 {
	margin-top: 40px;
}

.password2 {
	margin-top: 40px;
}

.accessbutton{
	width: 80px;
	height: 30px;
	border-radius: 10%;
	background-color: red;
	color: #FFFFFF;
	border: 0;
	margin-top: 40px;
	margin-left:40%; 
}