<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../images/shulin.ico" media="screen" />
    <link rel="stylesheet" href="../css/browseRecords.css">
    <title>浏览记录</title>
</head>

<body>
    <div class="nav">
        <div class="user"><span>書林商城</span><span class="sn1">个人信息</span><span class="sn1">欢迎使用</span></div>
        <span class="tuichu"><a href="#">退出登录</a></span>
        <span class="geren"> <a href="#">个人中心</a></span>
        <span class="dindan"><a href="#">我的订单</a></span>
    </div>
    <div class="box">
        <div class="box-left">
            <img src="./images/shu.jpg" alt="書林商城">
            <ul class="a">
                <li style="font-size: 24px;">订单管理</li>
                <li>订单管理</li>
                <li>售后管理</li>
                <li>评价管理</li>
            </ul>
            <ul class="b">
                <li style="font-size: 24px;">关注中心</li>
                <li>我的收藏</li>
                <li>浏览记录</li>
            </ul>
            <ul class="c">
                <li style="font-size: 24px;">账户信息</li>
                <li>个人信息</li>
                <li>地址管理</li>
            </ul>
        </div>

        <div class="box-right">
            <div class="nav-up">
                <h4>首页</h4>
                <h4>账户设置</h4>
                <h4>消息</h4>

                <input type="text" name="search" id="search ">
                <button>搜索</button>

                <h4 style="margin-left: 400px;">购物车</h4>
            </div>

            <button class="btn">浏览记录</button>



            <div class="info">
                <form action="">
                    <div class="info_up">
                        <img src="../img/yi.jpeg" alt="">

                        <div class="info_header">
                            <h4>从一到无穷大</h4>&nbsp;<em>|</em>
                            <span>68.8</span><span style="margin-left: 10px;color: #000;">元</span>
                        </div>

                    </div>
                    <div class="info_up">
                        <img src="../img/heike.jpeg" alt="">
                        <div class="info_header">
                            <h4>黑客的修炼之路</h4>&nbsp;<em>|</em>
                            <span>98.9</span><span style="margin-left: 10px;color: #000;">元</span>
                        </div>
                    </div>
                    <div class="info_up">
                        <img src="../img/heitiane.jpeg" alt="">

                        <div class="info_header">
                            <h4>小丑鸭到黑天鹅</h4>&nbsp;<em>|</em>
                            <span>38.5</span><span style="margin-left: 10px;color: #000;">元</span>
                        </div>

                    </div>
                    <div class="info_up">
                        <img src="../img/yueliang.jpeg" alt="">
                        <div class="info_header">
                            <h4>月亮与六便士</h4>&nbsp;<em>|</em>
                            <span>47.2</span><span style="margin-left: 10px;color: #000;">元</span>
                        </div>
                    </div>
                    
                    <div class="info_up">
                        <img src="../img/xiong.jpeg" alt="">
                        <div class="info_header">
                            <h4>纸上动物园</h4>&nbsp;<em>|</em>
                            <span>38.4</span><span style="margin-left: 10px;color: #000;">元</span>
                        </div>
                    </div>

                </form>
            </div>



        </div>
    </div>
</body>

</html>