<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書林</title>
    <link href="../css/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../images/shulin.ico" media="screen" />
    <script type="text/javascript" src="../js/index.js"></script>

</head>

<body>

    <div class="nav">
        <div class="logo"><img src="../img/shulin.png" alt=""></div>
        <div class="nav-right">
            <div class="nav-right_1">
                <button>登录注册</button>
                <button>购物车</button>
                <button>我的订单</button>
                <button>个人中心</button>
                <button>设置</button>
            </div>
            <div class="nav-right_2">
                <input type="text" style="width: 240px;height: 28px;border-radius: 5px;">
                <input type="submit" value="搜索" style="width: 100px;height: 34px;border-radius: 5px;margin-left: 10px;">
            </div>
        </div>
    </div>

    <div class="nav-up">
        <button>首页</button>
        <button>图书分类</button>
        <button>新书</button>
        <button>优选</button>
        <button>排行榜</button>
    </div>

    <div class="show">
        <div class="banner-left">
            <img src="../img/shulin.png" alt="" title="">
        </div>
        <div class="banner-right">
            <div class="a">
                <img src="../img/shulin.png" alt="" title="">
            </div>
            <div class="b ">
                <img src="../img/shulin.png" alt="" title="">
            </div>
        </div>
    </div>

    <br />

    <div class="show-up">
        <div class="zi">
            <h2>書林推荐</h2>
        </div>
        <div class="shu">
            <div class="box">
                <img src="../img/yi.jpeg" alt="">
                <div class="info">
                    <h4>从一到无穷大</h4>&nbsp;<em>|</em>
                    <span>68.8</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/heike.jpeg" alt="">
                <div class="info">
                    <h4>黑客的修炼之路</h4>&nbsp;<em>|</em>
                    <span>98.9</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/heitiane.jpeg" alt="">
                <div class="info">
                    <h4>小丑鸭到黑天鹅</h4>&nbsp;<em>|</em>
                    <span>38.5</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img//fish.jpeg" alt="">
                <div class="info">
                    <h4>鱼翅与花椒</h4>&nbsp;<em>|</em>
                    <span>58.6</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
        </div>
    </div>

    <div class="show-up">
        <div class="zi">
            <h2>精选图书</h2>
        </div>
        <div class="shu">
            <div class="box">
                <img src="../img/caomu.jpeg" alt="">
                <div class="info">
                    <h4>草木人间</h4>&nbsp;<em>|</em>
                    <span>45.6</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/chengzhang.jpeg" alt="">
                <div class="info">
                    <h4>成长终身</h4>&nbsp;<em>|</em>
                    <span>39.8</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/duansheli.jpeg" alt="">
                <div class="info">
                    <h4>断舍离</h4>&nbsp;<em>|</em>
                    <span>49.0</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/yueliang.jpeg" alt="">
                <div class="info">
                    <h4>月亮与六便士</h4>&nbsp;<em>|</em>
                    <span>47.2</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
        </div>
    </div>

    <div class="show-up">
        <div class="zi">
            <h2>文创产品</h2>
        </div>
        <div class="shu">
            <div class="box">
                <img src="../img/guangdao.jpeg" alt="">
                <div class="info">
                    <h4>广岛之恋</h4>&nbsp;<em>|</em>
                    <span>28.1</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/men.jpeg" alt="">
                <div class="info">
                    <h4>我在故宫看大门</h4>&nbsp;<em>|</em>
                    <span>88.9</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/yueguang.jpeg" alt="">
                <div class="info">
                    <h4>月光狂想曲</h4>&nbsp;<em>|</em>
                    <span>38.6</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/nvde.jpeg" alt="">
                <div class="info">
                    <h4>82年的金智英</h4>&nbsp;<em>|</em>
                    <span>28.8</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
        </div>
    </div>

    <div class="show-up">
        <div class="zi">
            <h2>畅销热书</h2>
        </div>
        <div class="shu">
            <div class="box">
                <img src="../img/xiong.jpeg" alt="">
                <div class="info">
                    <h4>纸上动物园</h4>&nbsp;<em>|</em>
                    <span>38.4</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/weiwancheng.jpeg" alt="">
                <div class="info">
                    <h4>此生未完成</h4>&nbsp;<em>|</em>
                    <span>37.8</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/shanhaijing.jpeg" alt="">
                <div class="info">
                    <h4>山海经</h4>&nbsp;<em>|</em>
                    <span>48.5</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
            <div class="box">
                <img src="../img/shige.jpeg" alt="">
                <div class="info">
                    <h4>人间失格</h4>&nbsp;<em>|</em>
                    <span>40.8</span><span style="margin-left: 10px;color: #000;">元</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <span style="font-size: 24px;">这里是页脚</span>
        <p>页脚</p>
        <p>页脚</p>
        <p>页脚</p>
        <p>页脚</p>
        <p>页脚</p>
        
    </div>



</body>

</html>