<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../images/shulin.ico" media="screen" />
    <link rel="stylesheet" href="../css/personInfo.css">
    <title>个人信息</title>
</head>

<body>
    <div class="nav">
        <div class="user"><span>書林商城</span><span class="sn1">个人信息</span><span class="sn1">欢迎使用</span></div>
        <span class="tuichu"><a href="#">退出登录</a></span>
        <span class="geren"> <a href="#">个人中心</a></span>
        <span class="dindan"><a href="#">我的订单</a></span>
    </div>
    <div class="box">
        <div class="box-left">
            <img src="../img/shu.jpg" alt="書林商城">
            <ul class="a">
                <li style="font-size: 24px;">订单管理</li>
                <li>订单管理</li>
                <li>售后管理</li>
                <li>评价管理</li>
            </ul>
            <ul class="b">
                <li style="font-size: 24px;">关注中心</li>
                <li>我的收藏</li>
                <li>浏览记录</li>
            </ul>
            <ul class="c">
                <li style="font-size: 24px;">账户信息</li>
                <li>个人信息</li>
                <li>地址管理</li>
            </ul>
        </div>

        <div class="box-right">
                <div class="nav-up">
                    <h4>首页</h4>
                    <h4>账户设置</h4>
                    <h4>消息</h4>

                    <input type="text" name="search" id="search ">
                    <button>搜索</button>

                    <h4 style="margin-left: 400px;">购物车</h4>
                </div>

                <button class="btn">个人信息</button>

                <form action="">
                    <table>
                        <tr>
                            <td>头像 :</td>
                            <td><img src="../img/03.png" alt="" class="touxiang"></td>
                        </tr>
                        <tr>
                            <td>昵称 :</td>
                            <td><input type="text" name="" id=""></td>
                        </tr>
                        <tr>
                            <td>手机号 :</td>
                            <td><input type="tel" name="" id=""></td>
                        </tr>
                        <tr>
                            <td>性别 :</td>
                            <td>
                                <input type="radio" name="sex" id="nan" checked="checked">
                                <label for="nan">男</label>
                                &nbsp;&nbsp;&nbsp;
                                <input type="radio" name="sex" id="nv">
                                <label for="nv">女</label>
                            </td>
                        </tr>
                        <tr>
                            <td>生日 :</td>
                            <td><input type="date" name="bday" id="bday"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                所在地:
                                <select name="" id="">
                                    <option value="">北京</option>
                                    <option value="">上海</option>
                                    <option value="">广东</option>
                                </select>
                                <select name="" id="">
                                    <option value="">北京市</option>
                                    <option value="">上海市</option>
                                    <option value="">广州市</option>
                                </select>
                                <select name="" id="">
                                    <option value="">东城区</option>
                                    <option value="">浦东区</option>
                                    <option value="">天河区</option>
                                </select>
                                <select name="" id="">
                                    <option value="">东华门街道</option>
                                    <option value="">外滩</option>
                                    <option value="">珠江新城</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button class="tijiao">保存</button>
                </form>



            </div>
        </div>
</body>

</html>